.header {
    background-color: #333e48 !important;
}

.card-1 {
    background-image: url('images/CategoryImages/sub-banner-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card-2 {
    background-image: url('images/CategoryImages/sub-banner-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card-3 {
    background-image: url('images/CategoryImages/sub-banner-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card-img-1 {
    background-image: url('images/CategoryImages/cms-banner-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card-img-2 {
    background-image: url('images/CategoryImages/cms-banner-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bannerImg {
    background-image: url('images/offer-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}